{% extends "base.html" %}

{% block content %}

    <h1>Select Transformation and Image</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <h4>
            Transformation:
        </h4>
        <p>
            {{ form.transformation }}
            {{ form.color }}
            {{ form.brightness }}
            {{ form.contrast }}
            {{ form.sharpness }}

        </p>
        <h4>
            Image:
        </h4>
        <p>
            {{ form.image }}
        </p>
        <button type="submit" class="btn btn-dark mb-2">Submit</button>
    </form>
{% endblock %}